# файлы указанные здесь не будут заливаться в общий репозиторий
# конфиги заливать не нужно, они у каждого свои будут
# у каждого будет развернута своя бд и путь к ней будет задан в конфиге
*.config

# папки тоже
# все что связано с билдом заливать не нужно, так как каждый может сам сбилдить проект
# и получить эти же файлы.
obj/
bin/